#index-banner {
	 background: url("../images/groupcooking.jpg");
	 background-repeat: no-repeat;
  	 background-size: 100%;
  	 background-color: rgba(255,0,0,10);
     
}


.navbar-fixed {position: absolute;z-index:999999999;}

#logo {
	font-family: 'Spectral SC', serif;
	text-align: center;
	color:white;
	margin-top: 0px;

}

#logo2{
	font-size: 35px;
	font-weight: 999;
}





.slider .indicators .indicator-item {
  background-color: #666666;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.slider .indicators .indicator-item.active {
  background-color: #ffffff;
}
.slider {
  width: 900px;

  margin: 0 auto;
}
.slider .indicators {
  bottom: 60px;
  z-index: 100;
  /* text-align: left; */
}
#navnames{
	font-family: 'Spectral SC', serif;
	

}

#logoimage{
	text-align: center;
}



#banner{
	font-family: 'Spectral SC', serif;
	text-align: center;
	

}




#mission {
	text-align: center;
	font-family: 'Spectral SC', serif;
}

#hosttitle{
	text-align: center;
	font-family: 'Spectral SC', serif;
	margin-top: 30px;

}

#welcome {
	text-align: center;
	font-family: 'Spectral SC', serif;
}

#welcomediv{
	margin:5px,30px,5px,30px;

}




#events {
	text-align: center;
	font-family: 'Spectral SC', serif;

}

#missionstatement { 
	text-align: center;
	font-size: 18px;
	font-weight: 350;

	
 }

 #form {
 	margin-top:50px;
 }

